# Ignore node_modules
project/node_modules/

# Ignore environment variables
.env

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore OS metadata
.DS_Store

# Ignore IDE folders
.vscode/
.idea/